.progress-bar {
	background-color: #f3f3f3;

	height: 20px;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.progress-bar__filled {
	background-color: #4caf50;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress-bar__percentage,
.progress-bar__completed {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
