/* client\src\index.css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/moose.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html,
body {
	min-height: 100vh;
}

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	width: 90%;
}

.slide-in-left-enter {
	transform: translateX(-100%);
}

.slide-in-left-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 200ms;
}

.slide-in-left-exit {
	transform: translateX(0%);
	opacity: 1;
}

.slide-in-left-exit-active {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 200ms;
}

.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	justify-content: center;
	color: white;
	width: 100%;
}

.story-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.story-form {
	position: relative;
	list-style: none;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 40rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	border: 2px solid white;
	background: rgba(255, 255, 255, 0.486);
	backdrop-filter: blur(10px);
}
@media (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 80%;
	}
}
