.authentication__header {
	color: white;
	text-align: center;
}

.authentication {
	width: 90%;
	max-width: 25rem;
	margin: 7rem auto;
	text-align: center;
	background: rgba(255, 255, 255, 0.486);
	backdrop-filter: blur(10px);
}

.authentication form {
	margin-bottom: 1rem;
}
